{% extends 'base.html.twig' %}

{% block body %}
<style>
    .body { display: flex;  flex-direction: row; align-items: center; margin: 20px; }
    .rappel { border: 1px solid black; display: flex; flex-direction: column; align-items: center; }
    .rappel p { text-align: center; font-size: 20px; }
    .rappel img { width: 100px; height: 100px;  margin: 20px; }
    #return { border-radius: 4px; border-color: #ed7941; color: #ed7941; }
</style>

<div class="body">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <a type="button" id="return" class="btn" href="https://localhost/">< Accueil</a>
    </div>
    <div class="rappel col-lg-6">
        <img src="https://cdn-icons.flaticon.com/png/512/4315/premium/4315445.png?token=exp=1656939414~hmac=fcf66648b3f2c1f66a5ffe5a323593ec" />
        <p><b>Votre rappel de client a été créé avec succès ! Veuillez retourner sur la page précédente.</b></p>
    </div>
</div>
{% endblock %}
