{% extends 'base.html.twig' %}

{% block body %}
<style>

</style>

<div class="container">
    <table class="table table-sm">
        <thead>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Country</th>
            <th>Phone number national</th>
            <th>Phone number international</th>
        </thead>
        <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
